<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="five_link_grasper">
  <mujoco>
    <compiler meshdir="/home/ypf/five_link_grasper/meshes/" balanceinertia="true" discardvisual="false" />
  </mujoco>  
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.00017903 1.5952E-05 -0.022982"
        rpy="0 0 0" />
      <mass
        value="0.16592" />
      <inertia
        ixx="7.4336E-05"
        ixy="-1.133E-07"
        ixz="-7.8132E-08"
        iyy="6.2755E-05"
        iyz="3.2894E-08"
        izz="4.8269E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://five_link_grasper/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.30196 0.28627 0.28627 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://five_link_grasper/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="right_link1">
    <inertial>
      <origin
        xyz="-0.00010562 -0.0010206 0.021916"
        rpy="0 0 0" />
      <mass
        value="0.034422" />
      <inertia
        ixx="6.5934E-06"
        ixy="6.7162E-09"
        ixz="2.3276E-08"
        iyy="7.624E-06"
        iyz="5.2643E-08"
        izz="5.0471E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://five_link_grasper/meshes/right_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://five_link_grasper/meshes/right_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_joint1"
    type="revolute">
    <origin
      xyz="-0.041 0 -0.042183"
      rpy="0.30047 -1.57 -0.30037" />
    <parent
      link="base_link" />
    <child
      link="right_link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="100"
      velocity="0" />
  </joint>
  <link
    name="right_link2">
    <inertial>
      <origin
        xyz="0.028139 0.00019003 0.032051"
        rpy="0 0 0" />
      <mass
        value="0.064321" />
      <inertia
        ixx="9.018E-06"
        ixy="-4.8423E-08"
        ixz="-2.9768E-06"
        iyy="3.7474E-05"
        iyz="-4.9295E-09"
        izz="3.8219E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://five_link_grasper/meshes/right_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://five_link_grasper/meshes/right_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_joint2"
    type="revolute">
    <origin
      xyz="-2.5823E-05 -0.020245 0.037446"
      rpy="-1.5715 0 3.1416" />
    <parent
      link="right_link1" />
    <child
      link="right_link2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="100"
      velocity="0" />
  </joint>
  <link
    name="right_link3">
    <inertial>
      <origin
        xyz="0.057995 -0.010691 -0.018595"
        rpy="0 0 0" />
      <mass
        value="0.059438" />
      <inertia
        ixx="7.7553E-06"
        ixy="4.9509E-06"
        ixz="-2.8229E-06"
        iyy="3.0093E-05"
        iyz="5.7045E-07"
        izz="3.1699E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://five_link_grasper/meshes/right_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://five_link_grasper/meshes/right_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_joint3"
    type="revolute">
    <origin
      xyz="0.093519 0.00016967 0.068509"
      rpy="0.000696 0.12478 8.6618E-05" />
    <parent
      link="right_link2" />
    <child
      link="right_link3" />
    <axis
      xyz="-0.12455 -9.912E-05 0.99221" />
    <limit
      lower="0"
      upper="0"
      effort="100"
      velocity="0" />
  </joint>
  <link
    name="right_link4">
    <inertial>
      <origin
        xyz="0.031309 7.9653E-05 -0.020438"
        rpy="0 0 0" />
      <mass
        value="0.023823" />
      <inertia
        ixx="5.894E-06"
        ixy="-2.3886E-08"
        ixz="5.2651E-09"
        iyy="4.9612E-06"
        iyz="-2.4585E-09"
        izz="3.0776E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://five_link_grasper/meshes/right_link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://five_link_grasper/meshes/right_link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_joint4"
    type="revolute">
    <origin
      xyz="0.10382 -0.016613 0.0065102"
      rpy="-0.0001075 -0.12482 0" />
    <parent
      link="right_link3" />
    <child
      link="right_link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="100"
      velocity="0" />
  </joint>
  <link
    name="right_link5">
    <inertial>
      <origin
        xyz="0.0083424 -6.3219E-05 0.015985"
        rpy="0 0 0" />
      <mass
        value="0.014306" />
      <inertia
        ixx="1.7488E-06"
        ixy="-7.6641E-10"
        ixz="-3.5853E-07"
        iyy="2.0089E-06"
        iyz="4.0793E-10"
        izz="2.3331E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://five_link_grasper/meshes/right_link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://five_link_grasper/meshes/right_link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_joint5"
    type="revolute">
    <origin
      xyz="0.058205 -0.0084517 -0.020248"
      rpy="-1.5709 0.0001075 -1.5708" />
    <parent
      link="right_link4" />
    <child
      link="right_link5" />
    <axis
      xyz="-0.00078393 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="100"
      velocity="0" />
  </joint>
  <link
    name="left_link1">
    <inertial>
      <origin
        xyz="-0.00024868 0.001027 0.021916"
        rpy="0 0 0" />
      <mass
        value="0.034422" />
      <inertia
        ixx="6.5935E-06"
        ixy="-1.1278E-09"
        ixz="1.9126E-08"
        iyy="7.624E-06"
        iyz="-5.3145E-08"
        izz="5.0472E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://five_link_grasper/meshes/left_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://five_link_grasper/meshes/left_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_joint1"
    type="revolute">
    <origin
      xyz="0.041 0 -0.042183"
      rpy="-0.061195 -1.57 -3.0803" />
    <parent
      link="base_link" />
    <child
      link="left_link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="100"
      velocity="0" />
  </joint>
  <link
    name="left_link2">
    <inertial>
      <origin
        xyz="0.028147 0.00019069 0.032045"
        rpy="0 0 0" />
      <mass
        value="0.064321" />
      <inertia
        ixx="9.0167E-06"
        ixy="-8.1788E-09"
        ixz="-2.971E-06"
        iyy="3.7474E-05"
        iyz="9.4995E-10"
        izz="3.822E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://five_link_grasper/meshes/left_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://five_link_grasper/meshes/left_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_joint2"
    type="revolute">
    <origin
      xyz="-2.784E-05 0.020255 0.037441"
      rpy="1.5717 0 3.1416" />
    <parent
      link="left_link1" />
    <child
      link="left_link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="100"
      velocity="0" />
  </joint>
  <link
    name="left_link3">
    <inertial>
      <origin
        xyz="0.055227 0.010611 -0.025581"
        rpy="0 0 0" />
      <mass
        value="0.059438" />
      <inertia
        ixx="7.4291E-06"
        ixy="-4.9876E-06"
        ixz="2.2315E-07"
        iyy="3.0093E-05"
        iyz="5.6224E-08"
        izz="3.2025E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://five_link_grasper/meshes/left_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://five_link_grasper/meshes/left_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_joint3"
    type="revolute">
    <origin
      xyz="0.093535 0.00012464 0.068491"
      rpy="-0.00078955 9.9743E-05 0" />
    <parent
      link="left_link2" />
    <child
      link="left_link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="100"
      velocity="0" />
  </joint>
  <link
    name="left_link4">
    <inertial>
      <origin
        xyz="0.031309 -7.385E-05 -0.020058"
        rpy="0 0 0" />
      <mass
        value="0.023823" />
      <inertia
        ixx="5.894E-06"
        ixy="2.3887E-08"
        ixz="-4.9873E-09"
        iyy="4.9612E-06"
        iyz="-2.4774E-09"
        izz="3.0776E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://five_link_grasper/meshes/left_link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://five_link_grasper/meshes/left_link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_joint4"
    type="revolute">
    <origin
      xyz="0.10383 0.016616 -0.00647"
      rpy="-0.00020654 4.9254E-05 0" />
    <parent
      link="left_link3" />
    <child
      link="left_link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="100"
      velocity="0" />
  </joint>
  <link
    name="left_link5">
    <inertial>
      <origin
        xyz="0.0083549 -6.4047E-05 0.015979"
        rpy="0 0 0" />
      <mass
        value="0.014306" />
      <inertia
        ixx="1.7482E-06"
        ixy="-7.4021E-10"
        ixz="-3.5807E-07"
        iyy="2.0089E-06"
        iyz="4.4398E-10"
        izz="2.3337E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://five_link_grasper/meshes/left_link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://five_link_grasper/meshes/left_link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_joint5"
    type="revolute">
    <origin
      xyz="0.058205 0.0084572 -0.020245"
      rpy="1.5706 -0.00020658 1.57" />
    <parent
      link="left_link4" />
    <child
      link="left_link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="100"
      velocity="0" />
  </joint>
</robot>